*.log
*.tmp
*.bak
.vault-token
__pycache__/
.DS_Store
.idea/
*.swp
.envnginx-fixed.tar

# Temporary files and build artifacts
*.tgz
*.tar


# Unintended ArgoCD-related files and directories
argocd-apps/
helm-app/
kustomize-app/
argocd-vault-plugin/
argocd-policy.hcl
read-secret-policy.json
aws-credentials.yaml
aws-secret.yaml
bundle.yaml
stripped-bundle.yaml
updated-argocd-repo-server.yaml
secretstore.yaml
argocd-vault-plugin
my-app-0.1.0.tgz nginx.tar

# General Git ignores
*.log
.DS_Store
.idea/
.vscode/
*.swp
*.bak