*.log
*.tmp
*.bak
.vault-token
__pycache__/
.DS_Store
.idea/
*.swp
.envnginx-fixed.tar

# Temporary files and build artifacts
*.tgz
*.tar

# Unintended ArgoCD-related files and directories
argocd-vault-plugin/
argocd-policy.hcl
read-secret-policy.json
aws-secret.yaml
bundle.yaml
stripped-bundle.yaml
argocd-vault-plugin
my-app-0.1.0.tgz 
nginx.tar

# General Git ignores
*.log
.DS_Store
.idea/
.vscode/
*.swp
*.bak